<html lang="en">	
	<head> 

		<meta charset="UTF-8">
		<title>Raw Data</title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src= "/bower_components/jquery/dist/jquery.js"></script>
		<script src= "/bower_components/jquery-ui/jquery-ui.js"></script>
		<script src= "/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src= "/js/rawdata.js"></script>


		
	</head> 

	<body >
		<div class="col-md-12 margined">
			<div class="btn-group btn-group-justified" role="group">
			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-info surv">
			    	<div class="radio">
				  	<label><input type="radio" class = "surv_title" id = "surv_radio"  name="surv_radio" checked="true" value="CH">CH</label>
					</div>
				</button>
			  </div>
			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-info surv">
			    	<div class="radio">
				  	<label><input type="radio" class = "surv_title" id = "surv_radio" name="surv_radio" value="MNH">MNH</label>
					</div>
			    </button>
			  </div>
			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-info surv">
				<div class="radio">
				  	<label><input type="radio" class = "surv_title" id = "surv_radio" name="surv_radio" value="IMCI">IMCI</label>
					</div>
			    </button>
			  </div>
			</div>
		
		</div>
		<div class="container-fluid sep1">
			<div class="col-md-4 section-select">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" class="sec-selecta" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" sec-val = 'SECTION1'>
					        SECTION 1
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					      <div class="list-group">
						      <div class="container-fluid" style="margin-top: 5px; margin-bottom: 5px; align:center;">
							      	<div class="btn-group-vertical" role="group" aria-label="Section 1 CH Blocks">
								  <button class="btn btn-info sec-opt" type="button" id = 'Sec1FaciSumm' sec-opt-val = 'FacilitySummary'><label for="">
								  	Facility Summary <span class="glyphicon glyphicon-menu-right"></span>
								  </label> 	
								  </button >
							      <button  class="btn btn-info sec-opt" type="button" id = 'Sec1StaffTraining' sec-opt-val = 'StaffTraining'> 
								  	<label>Staff Training <span class="glyphicon glyphicon-menu-right"></span> </label>
							      </button >
									</div>
						      </div>
					      </div>
					    </div>
					  </div>
					  <!-- <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo">
					      <h4 class="panel-title">
					        <a class="collapsed sec-selecta" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          SECTION 2
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo"  class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					      <div class="list-group">
					     
					  							<div class="container-fluid" style="margin-top: 5px; margin-bottom: 5px; align:center;">
					  							      	<div class="btn-group-vertical" role="group" aria-label="Section 1 CH Blocks">
					  								  <button class="btn btn-info sec-opt" type="button" id = 'Sec1FaciSumm'><label for="">
					  								  	Facility Summary <span class="glyphicon glyphicon-menu-right"></span>
					  								  </label> </button >
					  							      <button  class="btn btn-info sec-opt" type="button" id = 'Sec1StaffTraining'><label for=""> Staff Training <span class="glyphicon glyphicon-menu-right"></span></label>  </button >
					  									</div>
					  						      </div>
					  							
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree">
					      <h4 class="panel-title">
					        <a class="collapsed sec-selecta" class="sec-selecta" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          SECTION 3
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree"  class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					      <div class="list-group">
					        <div class="container-fluid" style="margin-top: 5px; margin-bottom: 5px; align:center;">
					  							      	<div class="btn-group-vertical" role="group" aria-label="Section 1 CH Blocks">
					  								  <button class="btn btn-info" type="button" id = 'Sec1FaciSumm'>Facility Summary <span class="glyphicon glyphicon-menu-right"></span>	</button >
					  							      <button  class="btn btn-info" type="button" id = 'Sec1StaffTraining'> Staff Training <span class="glyphicon glyphicon-menu-right"></span> </button >
					  									</div>
					  						      </div>
					    </div>
					  </div>
					  	</div>  -->
				</div>
			</div>

			<div class="col-md-8 " id = "filter-select">
			<div class="container-fluid ">
				<h3 class="bolden">SURVEY: <span id='SurvTitle'></span> </h3> <h3 class="bolden"> SURVEY SECTION: <span id='SecTitle' ></span> <span id='SecTitle2' ></span> </h3>
			</div>
			<h2 id="instruct"><span class="glyphicon glyphicon-arrow-left"></span> Please select a section from the left</h2>
				<form class = "hidden" id= 'rawdata_form' >	
				<h3 class="bolden filt-info hidden"> FILTER(S): <span 
					id="FiltVer"> Version filter </span>
					<span 
					id="FiltMax"> , Max filter</span>
					<span 
					id="FiltTerm" class = "hidden"> , Term filter</span>
					<span 
					id="FiltCounty" class = "hidden"> , County Filter </span></h3>
						<div class="form-group">
							<div class="checkbox">
								   <!--  <label><input type="checkbox" id="ToggleVersion"> Add Version Filter</label> -->
							</div>
							<div id="version-box">
							<label for="SurVer">Survey Version: </label>
							  <select class="form-control" id="SurVer" >
							    <option value="V2">V2</option>
							    <option value="V1">V1</option>
							    
							    <!-- <option value="All"></option> -->
							  </select>	
							</div>
							
							  
						</div>
						
					  <div class="form-group">
					  		<div class="checkbox">
							    <label><input type="checkbox" id="ToggleTerm"> Add Term Filter</label>
							  </div>

								<label for="SurTerm" >Survey Term</label>
								  <select class="form-control"  id="SurTerm" disabled="true">
								    <option value="Baseline" >Baseline</option>
								    <option value="Midterm" >Midterm</option>
								    <option value="Endterm" >Endterm</option>
								  </select>
							  
						</div>
					<!-- <div class="form-group">
							<div class="checkbox">
							    <label><input type="checkbox" id="ToggleCounty"> Add County Filter</label>
							  </div>
							<label for="SurCount">Survey County</label>
								  <select class="form-control" id="SurCounty" disabled="true">
								    <option>All</option>
								  </select>
							  
						</div> -->
					<div class="form-group">
							<label for="SurCount">Max Number Of Surveys</label>
								  <select class="form-control" id="SurMax">
								    <option value=100>100</option>
								    <option value=200>200</option>
								    <option value=500>500</option>
								    <option value=1000>1000</option>
								  </select>
							  
						</div>
					  <button id="gen_rd2" type="button" class="btn btn-default hidden">Generate Raw Data File</button>
					  
				</form>
				<div id="dialog-message" title="Download" class="hidden">
					  <p id="d-message">
					    <span class="" style="float:left; margin:0 7px 50px 0;"></span>
					    Generating requested excel...
					  </p>
					  <button id="dl_btn" class="btn btn-success hidden" >
							<a id= 'downloadit' href="" target="_bla">
							Download Excel
							</a>
					</button>
					</div>
			</div>
		</div>
			<!-- <button >
				<a href="http://127.0.0.1:3005/rawdata/ch_excel">
					Download
				</a>
			</button>
			<button id="gen_rd">
				
					Test
				
			</button> -->

		

	
			
	</body>
	</html> 